.footer {
  background-color: #1a6ca3;
  padding-top: 40px;

  .footer-info-left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    span {
      display: block;
      margin-left: 15px;
      font-size: 20px;
    }
  }
  .logo-footer {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    img {
      width: 80%;
    }
  }
  .footer-info {
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255, 255, 255, 0.7);

    a {
      color: rgba(255, 255, 255, 0.7);
    }
    h3 {
      margin-left: 10px;
      color: white;
    }
    li {
      padding: 10px;
    }
  }
  .footer-copy {
    background-color: rgba($color: #000000, $alpha: 0.1);
    width: 100%;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  @media (max-width: 800px) {
    .footer-info {
      h3 {
        font-size: 16px;
      }
      a {
        font-size: 14px;
      }
      li {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 475px) {
    .logo-footer {
      margin-bottom: 15px;
      span {
        display: block;
      }
    }
    .footer-info-left {
      margin-bottom: 50px;
    }
    .footer-info {
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      a {
        font-size: 14px;
      }
      ul {
        margin-bottom: 40px;
      }
      li {
        padding: 0;
        padding-top: 10px;
      }
      h3 {
        margin: 0;
      }
    }
    .footer-copy {
      font-size: 12px;
    }
  }
}
